<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
	<server>
	  <id>nexus-deploy</id>
	  <username>USERNAME</username>
	  <password>PASSWORD</password>
	</server>
  </servers>
  <profiles>
	<profile>
	  <id>NodeJS</id>
	  <activation><activeByDefault>true</activeByDefault></activation>
	  <repositories>
		<repository>
			<id>spring-snapshots</id>
			<name>Spring Snapshots</name>
			<url>http://repo.spring.io/libs-snapshot-local</url>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</repository>
		<repository>
			<id>spring-releases</id>
			<name>Spring Releases</name>
			<url>http://repo.spring.io/release</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository>
	  </repositories>
	  <pluginRepositories>
		<pluginRepository>
			<id>spring-snapshots</id>
			<name>Spring Snapshots</name>
			<url>http://repo.spring.io/libs-snapshot-local</url>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</pluginRepository>
	  </pluginRepositories>
    </profile>
  </profiles>
</settings>
